.wrapper {
    display: flex;
    padding: 4rem 0 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

@media(max-width: 1200px) {
    .container section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 2rem;
        /* gap: 2rem; */
    }

    .container {
        max-width: 720pxs;
    }
}