.container {
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    position: relative;
}

.loginContainer {
    position: absolute;
    top: 50%;
    right: 12.5rem;
    transform: translateY(-50%);
}

.loginContainer > img {
    margin-bottom: 6rem;
}

.loginContainer > h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.875rem;
    color: var(--white);
}

.loginContainer > div {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 70%;
}

.loginContainer > div span {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: #B2B9FF;
    font-style: normal;
    margin-left: 1.5rem;
}

.loginContainer > button {
    display: flex;
    align-items: center;
    margin-top: 3.9375rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white);
    padding: 1.4375rem 2rem;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    transition: opacity .2s;
}

.loginContainer > button img {
    margin-left: 1rem;
}

.loginContainer > button:hover {
    opacity: .8;
}

@media(max-width: 1080px) {
    .loginContainer {
        top: 50%;
        left: 50%;
        right: unset;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 720px) {
    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}