.container {
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    position: relative;
}

.loginContainer {
    position: absolute;
    top: 50%;
    right: 12.5rem;
    transform: translateY(-50%);
}

.loginContainer > img {
    margin-bottom: 6rem;
}

.loginContainer > h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.875rem;
    color: var(--white);
}

.loginContainer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 70%;
}

.loginContainer > div span {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: #B2B9FF;
    font-style: normal;
    margin-left: 1.5rem;
}

.loginContainer > form {
    display: flex;
    align-items: center;
    margin-top: 3.9375rem;
    height: 5rem;
}

.loginContainer > form input {
    font-size: 1.25rem;
    font-weight: 400;
    color: #B2B9FF;
    padding: 1.4375rem 6.98rem 1.4375rem 1.895rem;
    border: none;
    outline: 0;
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    border-radius: 5px 0px 0px 5px;
    height: 100%;
}

.loginContainer > form input::placeholder {
    color: #B2B9FF;
}

.loginContainer > form button {
    padding: 1.75rem;
    border: none;
    font-size: 0;
    background-color: var(--blue-dark);
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    transition: opacity .2s;
}

.loginContainer > form button:hover {
    opacity: .8;
}

.loginContainer > form input:focus {
    color: var(--white);

}

.loginContainer > form input:focus ~ button {
    background-color: var(--green);
}